.cssTransition-text {
  font-size: 30px;
}

.cssTransition-enter {
  position: absolute;
  opacity: 0;
}
.cssTransition-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 1000ms, transform 1000ms;
}
.cssTransition-exit {
  position: absolute;
  opacity: 1;
}
.cssTransition-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms, transform 1000ms;
}
